<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <td>
                首页
            </td>
        </tr>
        <tr>
            <td>
                用户
            </td>
        </tr>
            <tr>
            <td>
                <a href="video/external_video.html"> 内链视频</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="video/external_video.html"> 外链视频 </a>
            </td>
        </tr>
    </thead>
</table>
</body>
</html>